# Centralidade & Disruptividade
---
O intuito deste jupyter notebook é a organização do código em Python para demonstrações e vizualizações.
A verificação é observada apartir das funções criadas que estão sendo importadas do graphutils - somente isso no momento.
Para mais informações contatem os membros do GitHub.

As bibliotecas usadas são:
> Networkx
> 
> Pandas
> 
> Numpy

In [1]:
from graphutils import get_data
from graphutils import get_grafo
from graphutils import get_df

### Criando o grafo
Para criar o grafo, é útilizado a data da rede de pessoas - neste caso os artistas - e utiliza da função *get_grafo()* para criar a rede desejada.

In [2]:
data_desejada = get_data('artists.json')

In [3]:
grafo = get_grafo(data_desejada)

### Criando o DataFrame
O data frame é criado apartir do resultado de disruptividade - anteriormente calculado. Ele será importante para a observação de padrões na rede social.

In [12]:
df = get_df('disrupt','csv')
df = df.set_index('label').sort_values(by='confidence',ascending=False)

In [13]:
df

                 ni    nj      nk  disruption               name  confidence
label
mn0000140499  144.0  31.0  1259.0    0.078801      Cocteau Twins      1.0000
mn0000683446   30.0   3.0   268.0    0.089701         Kurt Weill      1.0000
mn0000824022  102.0  16.0   232.0    0.245714     Little Richard      1.0000
mn0000150629   51.0   2.0     4.0    0.859649         Édith Piaf      1.0000
mn0000037658   78.0  24.0   210.0    0.173077        Steve Reich      1.0000
...             ...   ...     ...         ...                ...         ...
mn0000025857    2.0   2.0    36.0    0.000000     Shep Pettibone      0.4889
mn0000231213    1.0   1.0    34.0    0.000000        John Wetton      0.4878
mn0000023640    1.0   1.0    43.0    0.000000     Terry Jennings      0.4877
mn0000207127    2.0   2.0  2089.0    0.000000  Ricky Van Shelton      0.4875
mn0000251595    3.0   3.0  2333.0    0.000000         Whitesnake      0.4868

[7433 rows x 6 columns]