# Filosofos
O intuito deste notebook e generalizar a pesquisa de popularidade de grafos dos artistas para uma base de filósofos.

In [1]:
from filosofosutils import *

In [2]:
filosofos = json_to_csv()
filosofos

,influenciado,influencia
0,Camille_Moubarak,Jürgen_Habermas
1,Carl_Gustav_Hempel,Robert_Nozick
2,Carl_Gustav_Hempel,Peter_Achinstein
3,Carl_Gustav_Hempel,Richard_Jeffrey
4,Carl_Gustav_Hempel,Jaegwon_Kim
...,...,...
5698,Leonard_Nelson__Leonard_Nelson__1,Kurt_Grelling
5699,"Sir_William_Hamilton,_9th_Baronet__William_Ham...",John_Stuart_Mill
5700,"Sir_William_Hamilton,_9th_Baronet__William_Ham...",James_Hutchison_Stirling
5701,"Sir_William_Hamilton,_9th_Baronet__William_Ham...",John_Veitch_(poet)
5702,"Sir_William_Hamilton,_9th_Baronet__William_Ham...",Herbert_Spencer